@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
body {
  background-image: url(../images/photo-1444927714506-8492d94b4e3d.jpg);
  background-attachment: fixed, fixed;
  background-size: cover;
  background-position: center center;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/photo-1444927714506-8492d94b4e3d.jpg);
  background-attachment: fixed, fixed;
  background-size: cover;
  background-position: center center;
}

h1, h2, h3, h4, a, p, table, input {
  font-family: sans-serif;
}

.aaa a {
  font-family: sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

.home a {
  font-family: sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

#fon {
  /*начальная стр*/
  border-radius: 6px;
  width: 50%;
  height: 45%;
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: white;
  opacity: 0.7;
}

#fon1 {
  /*пассажиры*/
  width: 80%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 10%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon2 {
  /*редактор и добавление*/
  border-radius: 6px;
  width: 60%;
  /*ширина*/
  position: absolute;
  top: 25%;
  left: 20%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon3 {
  /*поиск*/
  border-radius: 6px;
  width: 60%;
  /*ширина*/
  position: relative;
  top: 15%;
  left: 20%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon4 {
  /*аэропорты*/
  width: 70%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 15%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon5 {
  /*категории*/
  width: 50%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 25%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon6 {
  /*самолеты*/
  width: 80%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 10%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon7 {
  /*рейсы*/
  width: 86%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 8%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

#fon8 {
  /*билеты*/
  width: 50%;
  border-radius: 6px;
  position: relative;
  top: 25%;
  left: 25%;
  background-color: white;
  opacity: 0.8;
  padding: 8px 16px 16px 16px;
}

.bordered {
  border: solid #ccc 2px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.bordered th {
  background-color: #dce9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
  background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
  background-image: linear-gradient(top, #ebf3fc, #dce9f9);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}

.bordered th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.bordered th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.bordered th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #82A7C8;
  box-shadow: 0 -3px #6886A0 inset;
  transition: 0.2s;
}

a.button7:hover {
  background: #6886A0;
}

a.button7:active {
  background: #536B80;
  box-shadow: 0 3px #536B80 inset;
}

.button8 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #82A7C8;
  box-shadow: 0 -3px #6886A0 inset;
  transition: 0.2s;
}

.button8:hover {
  background: #6886A0;
}

.button8:active {
  background: #536B80;
  box-shadow: 0 3px #536B80 inset;
}

.frm_block {
  margin: 0px auto;
}